<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.planetandroid.arjun.communique">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/collabcloud_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/collabcloud_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".Login_Fragment" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".Login_Register_Fragment" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".Register_Fragment" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".Update_Fragment" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".Work_Allocation_Fragment" >
        </activity>

        <activity
            android:label="@string/app_name"
            android:name=".Company_Main_Fragment" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".Select_Project_Fragment" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".New_Freelancer" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".Select_Task_Fragment" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".Select_Freelancer" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".View_Updates" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".Freelancer_Main">
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".Freelancer_Updates">
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".DeallocateList">
        </activity>

    </application>


</manifest>